.catalog {
  padding: 20px;
  background-color: #121212;
  min-height: 100vh;
  color: white;

  &__title {
    text-align: center;
    margin-bottom: 24px;
  }
}
.catalog__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}
